raindrop_notion_webhook.json
{
  "name": "Raindrop Notion Webhook Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "raindrop-webhook",
        "responseMode": "onReceived"
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "raindrop-webhook"
    },
    {
      "parameters": {
        "dataPropertyName": "body.collection.title",
        "rules": {
          "rules": [
            { "value": "Movies", "output": 0 },
            { "value": "TV Series", "output": 1 },
            { "value": "Movies Watched", "output": 2 },
            { "value": "TV Series Watched", "output": 3 },
            { "value": "Music", "output": 4 },
            { "value": "Liked Videos", "output": 5 },
            { "value": "Games", "output": 6 },
            { "value": "Apps", "output": 7 },
            { "value": "apps and games moded websites", "output": 8 },
            { "value": "Ai links websites", "output": 9 },
            { "value": "Torrent", "output": 10 },
            { "value": "\u0644\u0645 \u0627\u0644\u0645\u0646\u0647\u062c", "output": 11 }
          ]
        }
      },
      "id": "node-switch",
      "name": "Collection Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_MOVIES_TO_WATCH",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-3",
      "name": "Movies To Watch",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, -300],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_MOVIES_TO_WATCH",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-4",
      "name": "TV Series To Watch",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, -180],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_WATCHED",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-5",
      "name": "Movies Watched",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, -60],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_WATCHED",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-6",
      "name": "TV Series Watched",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, 60],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_MUSIC",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-7",
      "name": "Music DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, 180],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_YOUTUBE_MUSIC",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-8",
      "name": "Youtube Music List",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_GAMES",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-9",
      "name": "Games DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, 420],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_APPS",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-10",
      "name": "Apps DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, 540],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_MODDED_WEBSITES",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-11",
      "name": "Modded Websites DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, 660],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_AI_WEBSITES",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-12",
      "name": "AI Websites DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, 780],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_TORRENT",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-13",
      "name": "Torrent DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, 900],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": "NOTION_DB_CURRICULUM",
        "title": "={{$json[\"body\"][\"item\"][\"title\"]}}",
        "propertiesUi": {
          "propertyValues": [
            { "key": "URL|url", "urlValue": "={{$json[\"body\"][\"item\"][\"link\"]}}" }
          ]
        }
      },
      "id": "node-14",
      "name": "Curriculum DB",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [900, 1020],
      "credentials": { "notionApi": { "id": "YOUR_NOTION_CREDENTIAL_ID", "name": "Notion Account" } }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Collection Switch", "type": "main", "index": 0 }]]
    },
    "Collection Switch": {
      "main": [
        [{ "node": "Movies To Watch", "type": "main", "index": 0 }],
        [{ "node": "TV Series To Watch", "type": "main", "index": 0 }],
        [{ "node": "Movies Watched", "type": "main", "index": 0 }],
        [{ "node": "TV Series Watched", "type": "main", "index": 0 }],
        [{ "node": "Music DB", "type": "main", "index": 0 }],
        [{ "node": "Youtube Music List", "type": "main", "index": 0 }],
        [{ "node": "Games DB", "type": "main", "index": 0 }],
        [{ "node": "Apps DB", "type": "main", "index": 0 }],
        [{ "node": "Modded Websites DB", "type": "main", "index": 0 }],
        [{ "node": "AI Websites DB", "type": "main", "index": 0 }],
        [{ "node": "Torrent DB", "type": "main", "index": 0 }],
        [{ "node": "Curriculum DB", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "3",
  "meta": { "instanceId": "raindrop-notion-webhook" },
  "id": "raindrop-notion-webhook"
}
